.main-cta {
    @include mainCta;
    @include largeButton;
    display: block;
    margin: 40px 0 20px 0;
    padding: 15px;

    strong {
        color: #fff;
        display: inline;
    }

    em {
        -webkit-font-smoothing: antialiased;
        font-family: $fontSans;
        font-weight: 600;
    }

    img {
        @include iconContainer(0,transparent);
        margin: 7px 15px 7px 0;
    }
}

.features-highlight {
    @include outerContainer;
    background: #fff;
    border-top: 1px solid $colorBorders;

    &.no-border {
        border-top: none;
        
        h2.centered {
            margin: -20px auto $verticalSpacingLarge auto;
        }
    }

    &.pinterest-features {
        border-top: 1px solid adjust-color($colorBorders,$alpha:.25);
    }

    h2 {
        margin-bottom: $verticalSpacingLarge;
        
        &.subheadline {
            font-size: 32px;

            @media screen and (max-width: 550px) {
                margin: 0 auto;
                width: 80%;
            }
        }
    }

    .feature {
        @include clear;
        border-top: 1px solid $colorBorders;
        padding: 60px 0;
    
        &.no-border {
            border-top: none;
            padding-top: 10px;
        
            @media screen and (max-width: 800px) {
                padding-bottom: 0;
            }
        }
    }

    .left-content {
        padding-bottom: 0;

        .feature-image {
            float: right;
        }
        .feature-content {
            float: left;
        }
    }

    .feature-image {
        float: left;
        width: 59.39393939%; /* 588/990 */
    }

    .feature .feature-image {
        @media screen and (max-width: 965px) {
            width: 50%;
        }

        @media screen and (max-width: 800px) {
            display: block;
            float: none;
            margin: 0 auto;
            width: 80.83333333%;
        }

        @media screen and (max-width: 580px) {
            width: 100%;
        }
    }

    .small-image {

        margin-top: 40px;
        padding: 30px 0 40px 0;

        .feature-content {
            width: 41.41414141%; /* 410/990 */

            @media screen and (max-width: 800px) {
                width: 100%;
            }
        }

        img {
            width: 52.32323232%; /* 518/990 */
        }
    }

    .cta-wide {
        background: $colorContentHighlight;
        border: 1px solid rgba(0,0,0,.15);
        margin: 30px 0 70px 0;
    }
    
    .feature-content {
        float: right;
        width: 34.34343434%;

        @media screen and (max-width: 965px) {
            width: 42.0023015%; /* 365/869 */
        }

        @media screen and (max-width: 800px) {
            margin-top: $verticalSpacingLarge;
            width: 100%;
        }
    }

    .feature-description {
        @media screen and (max-width: 800px) {
            float: none;
            width: 100%;
        }
    }

    &.simple-content {
        h3 {
            margin-bottom: 50px;
        }

        .feature-description {
            @media screen and (max-width: 800px) {
                float: none;
                width: 100%;
            }  
        }

        p {
            font-family: $fontSans;
            margin-bottom: 20px;
        }
    }

    ul {
        @media screen and (max-width: 800px) {
            float: none;
            width: 100%;
        }   
    }

    .main-cta {
        @media screen and (max-width: 800px) {
            width: 47%;
        } 

        @media screen and (max-width: 580px) {
            float: none;
            width: 100%;
        }   
    }

    h3 {
        @media screen and (max-width: 580px) {
            margin-bottom: 10px;
        }
    }

    h4 {
        margin: -20px 0 60px 0;
    }

    h5 {
        margin-bottom: $verticalSpacingMedium;
    }

    p {
        margin-bottom: $verticalSpacingMedium;

        @media screen and (max-width: 800px) {
            margin-bottom: 0;
        }

        @media screen and (max-width: 580px) {
            margin-bottom: $verticalSpacingMedium;
        }
    }

    li {
        @include clear;
        display: block;
        line-height: 1.3em;
        margin: 15px 0;

        img {
            @include iconContainer(5px,$colorAccent);
            float: left;
            margin: -5px 10px 0 0;
        }

        a:hover img {
            background-color: $colorBodyDark;
        }
    }
}

.features-center {
    text-align: center;

    .wide-image {
        width: 80.50505051%; /* 797/990 */
    }

    .feature-description {
        float: left;
        margin-top: 50px;
        text-align: left;
        width: 62.62626263%; /* 620/990 */

        h5 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 0;
        }
    }

    .main-cta {
        float: right;
        margin-top: 50px;
        text-align: left;
        width: 31.31313131%; /* 310/990 */
    }

    @media screen and (max-width: 890px) {
        h3 {
            margin: 0 auto 20px auto;
            width: 70%;
        }
        h4 {
            margin: 0 auto 50px auto;
            width: 60%;
        }
        .wide-image {
            width: 100%;
        }
    }

    @media screen and (max-width: 825px) {
        .feature-description {
            width: 50%;
        }
        .main-cta {
            width: 40%;
        }
    }

    @media screen and (max-width: 730px) {
        h3, h4 {
            width: 100%;
        }

        .feature-description {
            width: 100%;
        }

        .main-cta {
            float: left;
            width: 50%;
        }
    }

    @media screen and (max-width: 515px) {
        .main-cta {
            width: 100%;
        }
    }
}

.feature-wide {
    @include outerContainer;
    padding-top: 60px;

    .container {
        padding-top: 0;
    }

    .feature-headline {
        margin-bottom: 60px;
    }

    .feature-content {
        float: right;
        width: 31.31313131%; /* 310/990 */
    }

    .feature-image {
        float: left;
        width: 62.82828283%; /* 622/990 */
    }

    &.widest {
        .feature-content {
            width: 25.25252525%; /* 250/990 */

            @media screen and (max-width: 780px) {
                width: 100%;
            }  
        }

        .feature-image {
            width: 68.78787879%; /* 681/990 */

            @media screen and (max-width: 780px) {
                width: 87.30769231%;
            } 

            @media screen and (max-width: 681px) {
                width: 100%;
            } 
        }      
    }

    p {
        font-family: $fontSans;
    }

    @media screen and (max-width: 770px) {
        .feature-image,
        .feature-content {
            float: none;
        }

        .feature-image {
            display: block;
            margin: 0 auto 50px auto;
            width: 80.77922078%;
        }

        .feature-content {
            width: 100%;
        }
    }

    @media screen and (max-width: 620px) {
        .feature-image {
            width: 100%;
        }
    }
}

.highlighted {
    background:$colorContentHighlight;
    border-top: 1px solid rgba(0,0,0,.1);
    box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
}

.feature-overview {
    @include outerContainer;

    .overview-image {
        margin-bottom: -2px;
    
        &.align-bottom {
            margin-bottom: 0;
        }
    }

    .container {
        padding: 0;
    }

    h3 {
        @include sectionSubHeadline;
        border-bottom: 1px solid $colorBorders;
        margin: $verticalSpacingLarge 0;
        padding: 0 0 $verticalSpacingLarge 0;
        text-align: center;
    }

    h4 {
        margin: -20px 0 60px 0;
    }

    h5 {
        @media screen and (max-width: 785px) {
            margin-bottom: 5px;
        }
    }
    

    ul {
        @include clear;
        margin-bottom: $verticalSpacingLarge;

        @media screen and (max-width: 785px) {
            margin-bottom: $verticalSpacingMedium;
        }
    }

    li {
        float: left;
        margin-right: 4.545454545%;
        width: 30.3030303%;

        &:last-of-type {
            margin-right: 0;
        }
        
        @media screen and (max-width: 690px) {
            float: none;
            margin-bottom: $verticalSpacingMedium;
            width: 100%;
        }
    }

    .two-features li {
        width: 45.45454545%;
        
        &:last-of-type {
            float: right;
            margin-right: 0;
        }

        @media screen and (max-width: 690px) {
            width: 100%;
        }
    }

    p {
        font-family: $fontSans;
        line-height: 1.6em;

        &.emphasized {
            color: #6c8f99;
            font-family: $fontSerif;
            line-height: 1.7em;
            padding: $verticalSpacingLarge 0 60px 0;
        }
    }

    .overview-image {
        margin-left: -4px;
        width: 100.80808081%;
    }

    &.product-feature p {
        font-size: 18px;
    }

    &.product-feature .feature-headline {
        margin: 50px 0;
    }
}

.feature-headline {
    border-bottom: 1px solid $colorBorders;
    text-align: center;

    h3 {
        border: none;
        color: $colorBodyDark;
        margin: 0 auto 10px auto;
        padding: 0;
    }
    h4 {
        margin: 0 auto;
        padding: 0 0 50px 0;
        width: 80%;
    }
}

.cta-headline {
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin: 0 0 50px 0;
    padding: 50px 0;

    h3 {
        border: none;
        color: $colorBodyDark;
        float: left;
        margin: 0;
        text-align: left;
        width: 55.55555556%; /* 550/990 */
    
        @media screen and (max-width: 690px) {
            float: none;
            width: 100%;
        }
    }

    h4 {
        margin: 0;
        text-align: left;
    }

    .main-cta {
        float: right;
        margin: 5px 0 0 0;
        width: 37.37373737%; /* 370/990 */

        @media screen and (max-width: 690px) {
            float: none;
            margin: 0 0 50px 0;
            width: 60%;
        }

        @media screen and (max-width: 580px) {
            width: 100%;
        }
    }
}

.centered {
    text-align: center;
}

.alternate-color {
    background: $colorContentAlternate;
    box-shadow: inset 0 0 5px rgba(0,0,0,.1);
}