---
layout: default
title:  Piqora - Customers
permalink:  /customers/index.html
description:  Description Goes Here
---
    <body>
        <div class="simple-banner leading-brands">

       {% include navigation.html %}

            <div class="container clear">
                <h2>The world’s leading brands use Piqora. <a href="/get-a-demo">Join them.</a></h2>
                <p>
                    400+ of the top brands in retail, publishing, and CPG use Piqora to measure and increase ROI, connect authentically with consumers, and build communities.
                </p>
                <ul class="client-logos">
                    <li><img src="/media/img/customer-logo-minted.png" alt="" /></li>
                    <li><img src="/media/img/customer-logo-etsy.png" alt="" /></li>
                    <li><img src="/media/img/customer-logo-zappos.png" alt="" /></li>
                    <li><img src="/media/img/customer-logo-joss.png" alt="" /></li>
                    <li><img src="/media/img/customer-logo-gemvara.png" alt="" /></li>
                    <li><img src="/media/img/customer-logo-wet-seal.png" alt="" /></li>
                </ul>
            </div>
        </div>
        <div class="client-quotes container clear">
            <blockquote>
                <p>&ldquo;We’re very pleased with the results of our first Pinterest promotion and excited to choose a winner and report our results internally.&rdquo;</p>
                <cite>Social Marketing Manager, Marriott International</cite>
            </blockquote>
            <blockquote>
                <p>&ldquo;Way to go team Piqora! Thanks for all you insights and providing the best service possible for clients like us.&rdquo;</p>
                <cite>Social Media Manager, Oriental Trading</cite>
            </blockquote>
            <blockquote>
                <p>&ldquo;You guys are awesome. Your responsiveness has been great, really enjoyed working with you on this promotion.&rdquo;</p>
                <cite>Digital Project Manager, Valspar</cite>
            </blockquote>
        </div>
        <div class="highlighted centered promotions">
            <div class="container">
                <h3>
                    Our analytics and promotions get incredible results.<br /> <a href="/get-a-demo">See what we can do for you.</a>
                </h3>
                <ul class="clear">
                    <li>
                        <img src="/media/img/customer-logo-uniqlo.png" alt="" />
                        <h5>4,903 Participants</h5>
                        <img src="/media/img/promotions-uniqlo.png" alt="" class="promotion" />
                    </li>
                    <li>
                        <img src="/media/img/customer-logo-oprah.png" alt="" />
                        <h5>13,377,000 Impressions</h5>
                        <img src="/media/img/promotions-oprah.png" alt="" class="promotion" />
                    </li>
                    <li>
                        <img src="/media/img/customer-logo-keep.png" alt="" />
                        <h5>16,307,497 Impressions</h5>
                        <img src="/media/img/promotions-keep.png" alt="" class="promotion" />
                    </li>
                    <li>
                        <img src="/media/img/customer-logo-west-elm.png" alt="" />
                        <h5>22,211,278 Impressions</h5>
                        <img src="/media/img/promotions-west-elm.png" alt="" class="promotion" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="case-study">
            <div class="container">                
                <div class="clear">
                    <div class="study">
                        <h5>Retail case study</h5>
                        <img src="/media/img/case-study-wayfair.jpg" alt="" />
                        <h4>Wayfair Case Study:<br /> 500,000 impressions</h4>
                        <a href="http://go.piqora.com/rs/pinfluencer/images/WayFair%20Case%20Study.pdf">Download case study</a>
                    </div>
                    <div class="study">
                        <h5>Publishing case study</h5>
                        <img src="/media/img/case-study-shape.jpg" alt="" />
                        <h4>Shape Magazine Case Study:<br /> 2 million impressions</h4>
                        <a href="http://go.piqora.com/rs/pinfluencer/images/Case%20Study%20Shape%20VSX%20.pdf">Download case study</a>
                    </div>
                </div>
                <ul class="mini-studies clear">
                    <li>
                        <img src="/media/img/customer-logo-ugg.png" alt="" />
                        <p>
                            Ugg Australia’s promotion had a reach of <strong>3,589,313</strong>, and received <strong>14,337,116</strong> impressions.
                        </p>
                    </li>
                    <li>
                        <img src="/media/img/customer-logo-etsy-alt.png" alt="" />
                        <p>
                            Etsy’s promotion had a reach of <strong>10,985,198</strong>, and received <strong>18,895,186</strong> impressions.
                        </p>
                    </li>
                    <li>
                        <img src="/media/img/customer-logo-petco.png" alt="" />
                        <p>
                            Petco’s promotion had a reach of <strong>184,269</strong>, and received <strong>6,582,047</strong> impressions.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
{% include footer-form.html %}