---
layout: default
title:  Piqora
permalink:  /index.html
description:  Description Goes Here
---
<body>
    <div class="homepage-banner">

       {% include navigation.html %}

       <div class="container">
        <h2>Market where your audience <em>looks</em>.</h2>
        <div class="banner-content">
            <p>Not where they search, read, or interact with friends &mdash; but where they look, browse, and discover brands and products. </p>
            <p>Piqora’s marketing suite enables your brand to grow traffic and revenue and build authentic communities across visual networks.</p>
        </div>
        <ul class="banner-cta">
            <li class="cta-first">
                <a href="/products/pinterest">
                    <img src="/media/img/icon-network-pinterest-large.png" />
                    <strong>Pinterest<br /> Marketing</strong>
                    <em>Learn More</em>
                </a>
            </li>
            <li>
                <a href="/products/instagram">
                    <img src="/media/img/icon-network-instagram-large.png" />
                    <strong>Instagram<br /> Marketing</strong>
                    <em>Learn More</em>
                </a>
            </li>
            <!--<li>
                <a href="/products/tumblr">
                    <img src="/media/img/icon-network-tumblr-large.png" />
                    <strong>Tumblr<br /> Marketing</strong>
                    <em>Learn More</em>
                </a>
            </li>-->
        </ul>
    </div>
</div>
<div class="homepage-customers">
    <div class="container">
        <h3>
            Over 400 brands trust Piqora to improve their results on the visual web. 
            <a href="/get-a-demo">Join them today.</a>
        </h3>
        <div class="slider-nav-wrapper"><a class="slider-nav slider-left" href="#"><img src="/media/img/slideshow/icon-slideshow-left-alt.png"></a></div>   
        <div class="logos">                 
            <ul>
                <li>
                    <img src="/media/img/homepage-logos/aeropostale.png" alt="Aeropostale" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/amc.png" alt="AMC Theaters" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/bellevuecollection.png" alt="Bellevue Collection" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/benefitcosmetics.png" alt="Benefit Cosmetics" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/bluenile.png" alt="Blue Nile" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/chicos.png" alt="Chicos" />
                </li>
            </ul>
            <ul>
                <li>
                    <img src="/media/img/homepage-logos/condenast.png" alt="Conde Nast" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/crateandbarrel.png" alt="Crate and Barrel" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/davidsbridal.png" alt="Davids Bridal" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/esurance.png" alt="Esurance" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/etsy.png" alt="Etsy" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/foodgawker.png" alt="Food Gawker" />
                </li>
            </ul>
            <ul>
                <li>
                    <img src="/media/img/homepage-logos/gaiam.png" alt="Gaiam" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/gemvara.png" alt="Gemvara" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/godiva.png" alt="Godiva" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/hautelook.png" alt="Hautelook" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/joesjeans.png" alt="Joes Jeans" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/jossandmain.png" alt="Joss and Main" />
                </li>
            </ul>
            <ul>
                <li>
                    <img src="/media/img/homepage-logos/justfab.png" alt="Just Fab" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/lancome-usa.png" alt="Lancome" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/luisaviaroma.png" alt="Luisa Via Roma" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/minted.png" alt="Minted" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/newtonrunning.png" alt="Newton Running" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/nyandcompany.png" alt="NY and Company" />
                </li>
            </ul>
            <ul>
                <li>
                    <img src="/media/img/homepage-logos/overstock.png" alt="Overstock.com" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/pendleton.png" alt="Pendelton" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/prana.png" alt="Prana" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/randomhouse.png" alt="Random House" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/shape.png" alt="Shape" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/shutterfly.png" alt="ShutterFly" />
                </li>
            </ul>
            <ul>
                <li>
                    <img src="/media/img/homepage-logos/stevemadden.png" alt="Steve Madden" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/stuartweitzman.png" alt="Stuart Weitzman" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/studiocalico.png" alt="Studio Calico" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/urbandecay.png" alt="Urban Decay" />
                </li>
                    <li>
                    <img src="/media/img/homepage-logos/wayfair.png" alt="WayFair" />
                </li>
                <li>
                    <img src="/media/img/homepage-logos/zappos.png" alt="Zappos" />
                </li>
            </ul>
        </div>
        <div class="slider-nav-wrapper right"><a class="slider-nav slider-right" href="#"><img src="/media/img/slideshow/icon-slideshow-right-alt.png"></a></div>
        <div class="testimonials">
            <blockquote>
                <p>
                    &ldquo;Piqora's Pinterest analytics dashboards give us granular data on Pinterest that we use to guide e-commerce initiatives and site merchandising.&rdquo;
                </p>
                <cite>
                    <img src="/media/img/customer-photo-seth.jpg" alt="" />
                    Seth Patterson, Digital Marketing Manager,<br /> Pendleton Woolen Mills
                </cite>
            </blockquote>
            <blockquote>
                <p>
                    &ldquo;Piqora's promotions platform has been instrumental in building our Pinterest community. We more than doubled our followers with our first promotion.&rdquo;
                </p>
                <cite>
                    <img src="/media/img/customer-photo-roberta.jpg" alt="" />
                    Roberta Ma, Online Marketing Manager, <br />
                    Cathay Pacific Airlines
                </cite>
            </blockquote>
        </div>
    </div>
</div>
<div class="features-highlight">
    <div class="container">    
        <h2 class="headline-alt">Achieve your goals through our complete marketing suite for <a href="/products/pinterest">Pinterest</a> & <a href="/products/instagram">Instagram</a>.</h2>
        <div class="feature">
            <img src="/media/img/feature-image-analytics.jpg" class="feature-image" alt="" />
            <div class="feature-content">
                <h3>Actionable Analytics for the Visual Web</h3>
                <div class="feature-description">    
                    <p>Piqora’s advanced analytics deliver reports and metrics through easy-to-master dashboards. Built using the most advanced image recognition technology available, Piqora enables brands to easily measure:</p>
                </div>
                <ul>
                    <li>
                        <a href="/products/pinterest">
                            <img src="/media/img/icon-network-pinterest.png" alt="" />
                            Revenue-generating pins and  pinners
                        </a>
                    </li>
                    <li>
                        <a href="/products/instagram">
                            <img src="/media/img/icon-network-instagram.png" alt="" />
                            Top photos, hashtags, and influencers
                        </a>
                    </li>
                    <!--<li>
                        <a href="/products/instagram">
                            <img src="/media/img/icon-network-tumblr.png" alt="" />
                            Hashtags and content
                        </a>
                    </li>-->
                </ul>
            </div>
        </div>
        <div class="feature left-content">
            <img src="/media/img/feature-image-promotions.jpg" class="feature-image" alt="" />
            <div class="feature-content">
                <h3>Promotions that bring new followers</h3>
                <div class="feature-description">    
                    <p>Grow your brand’s Pinterest or Instagram community by up to 100% with a contest or sweepstakes. Launch your promotion with the full support of Piqora’s customer success team. Track results, identify eligible participants, and ensure compliance with each network’s promtion guidelines.</p>
                </div>
                <ul>
                    <li>
                        <a href="/products/pinterest#promotions">
                            <img src="/media/img/icon-network-pinterest.png" alt="" />
                            More about Pinterest promotions
                        </a>
                    </li>
                    <li>
                        <a href="/products/instagram#promotions">
                            <img src="/media/img/icon-network-instagram.png" alt="" />
                            More about Instagram promotions
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="major-results">
    <div class="container">    
        <h2>Major brands love us because we get major results.</h2>
        <ul>
            <li>
                <div class="results-description">
                    <div class="stats">
                        <strong>5,000</strong>
                        <em>new followers</em>
                    </div>
                    <p>Blue Nile's Valentine's Day Pinterest contest got 5,000 new followers and 50K repins. </p>
                </div>
                <a href="http://go.piqora.com/rs/pinfluencer/images/Blue Nile Case Study.pdf">
                    <img src="/media/img/icon-network-pinterest-large.png" />
                    <strong>get new followers</strong>
                    <em>Read the case study</em>
                </a>
            </li>
            <li>
                <div class="results-description">
                    <div class="stats">
                        <strong>2.9 million</strong>
                        <em>pinterest impressions</em>
                    </div>
                    <p>Shape And VSX Sport by Victoria’s Secret Drive 2.9 Million Holiday Impressions.</p>
                </div>
                <a href="http://go.piqora.com/rs/pinfluencer/images/Case Study Shape VSX .pdf">
                    <img src="/media/img/icon-network-pinterest-large.png" />
                    <strong>grow impressions</strong>
                    <em>Read the case study</em>
                </a>
            </li>
            <li>
                <div class="results-description">
                    <div class="stats">
                        <strong>500%</strong>
                        <em>Increase in sales</em>
                    </div>
                    <p>Pinterest sweepstakes drives long-term results for Wayfair, 500% increase in sales. </p>
                </div>
                <a href="http://go.piqora.com/rs/pinfluencer/images/WayFair Case Study.pdf">
                    <img src="/media/img/icon-network-pinterest-large.png" />
                    <strong>get new followers</strong>
                    <em>Read the case study</em>
                </a>
            </li>
        </ul>
        <div class="cta-wide">
            Want to learn more about how we’ll help you succeed? <a href="/resources">Check out all our resources</a>, or <a href="/get-a-demo">request a Piqora demo</a>.
        </div>
    </div>
</div>
<div class="feature-overview">
    <div class="container">    
        <h3 class="headline-alt">
            Pinterest analytics, metrics, and insights. <a href="/products/pinterest">Learn more</a>
        </h3>
        <ul>
            <li>
                <h5>See How Pins Are Performing</h5>
                <p>Discover which pins and boards are delivering value for your brand on Pinterest. See top pins by reach and engagement from both your profile and website.</p>
            </li>
            <li>
                <h5>The Most Detailed ROI Metrics</h5>
                <p>See the total revenue your brand has generated from Pinterest, then drill down to see Revenue per Pin, Revenue per purchase, visits, and pageviews per pin.</p>
            </li>
            <li>
                <h5>Improve Your Content Strategy</h5>
                <p>Compare your website pinners, pins, repins, followers and virality against your competitors in a single dashboard. Learn which of your competitor's pins and boards are trending.</p>
            </li>
        </ul>
        <img src="/media/img/feature-overview-pinterest-analytics.png" class="overview-image" alt="" />
    </div>
</div>
<div class="feature-overview">
    <div class="container">    
        <h3 class="headline-alt">
            Pinterest promotions, contests, and sweepstakes. <a href="/products/pinterest#promotions">Learn more</a>
        </h3>
        <ul>
            <li>
                <h5>Help With Your Promotion Strategy</h5>
                <p>Your Customer Success Manager will help you choose from a wide range of user flows to achieve any goal. Grow your community with a follow-only promotion or increase pins and repins with a create-a-board contest. We’ll help you stay within Pinterest’s guidelines.</p>
            </li>
            <li>
                <h5>The Most Advanced Reporting</h5>
                <p>Piqora's promotions dashboard delivers the most advanced reporting for key promotion metrics including reach, impressions, followers, traffic, and revenue. See the Pins and Boards that drove traffic and participant eligibility right from your promotion dashboard.</p>
            </li>
            <li>
                <h5>Landing Pages: Optimized &amp; Beautiful</h5>
                <p>We’ll help you deploy fully customized landing pages using any combination of Piqora's hosted solution, an embedable iFrame, or your Facebook page. Your Customer Success Manager will walk you through every step of process to help you achieve maximum results.</p>
            </li>
        </ul>
        <img src="/media/img/feature-overview-pinterest-promotions.png" class="overview-image" alt="" />
    </div>
</div>
<div class="feature-overview">
    <div class="container">    
        <h3 class="headline-alt">
            Instagram analytics, metrics, and insights. <a href="/products/instagram">Learn more</a>
        </h3>
        <ul>
            <li>
                <h5>The Most Advanced Hashtag Tracking</h5>
                <p>Instagram engagement is all about hashtags. Use Piqora’s advanced hashtag tracking to monitor multiple hashtags so you can see the reach of your campaigns and identify top photos, videos, and influencers for all the hashtags your audience (and your competitors’ audience) is using.</p>
            </li>
            <li>
                <h5>See How Your Images Are Performing</h5>
                <p>Manage and track performance analytics for every Instagram account you're responsible for from a single web-based dashboard. Piqora’s advanced image-recognition algorithms enable you to compare your metrics, trending photos, and audience data with your competitors.</p>
            </li>
            <li>
                <h5>Get Relationships With Influencers</h5>
                <p>Piqora’s Instagram Audience dashboard enables you to easily find the most influential contributors to your brand's content and hashtags. Analyze their potential reach, then reach out to the right folks, and start a conversation that increases overall brand engagement.</p>
            </li>
        </ul>
        <img src="/media/img/feature-overview-instagram-analytics.png" class="overview-image" alt="" />
    </div>
</div>
<div class="feature-overview">
    <div class="container">    
        <h3 class="headline-alt">
            Instagram promotions, contests, and sweepstakes. <a href="/products/instagram#promotions">Learn more</a>
        </h3>
        <ul>
            <li>
                <h5>Photo Contests Made Easy</h5>
                <p>Social media contests have never been this easy. Get detailed tracking of participants, their influence, and eligibility from a single dashboard. Easily find top photos and videos uploaded by participants. One more click and you’re viewing key metrics.</p>
            </li>
            <li>
                <h5>Your Contests Have Our Support</h5>
                <p>Every brand that launches an Instagram contest with Piqora gets the support of a dedicated Customer Success Manager to help with strategy and consulting for each promotion. Piqora has launched 700+ promotions.</p>
            </li>
            <li>
                <h5>Your Photo Content Lives On</h5>
                <p>Tell authentic visual stories, using photos submitted by your Instagram community that feature your brand's products, aesthetic and values. Piqora's Foto Gallery product enables you to select and publish the best user created Instagram photos.</p>
            </li>
        </ul>
        <img src="/media/img/feature-overview-instagram-promotions.png" class="overview-image align-bottom" alt="" />
    </div>
</div>

{% include footer-form.html %}
