---
layout: default
title:  Piqora - Pinterest
permalink:  /products/pinterest/index.html
description:  Description Goes Here
---

<body>
    <div class="product-banner pinterest-banner">

     {% include navigation.html %}

     <div class="container">
        <h2>What if Pinterest became your biggest social revenue channel?</h2>
        <p>Piqora’s Pinterest Revenue Analytics, Pin Scheduler, and Promotions Platform enables social teams to clearly show their impact on the business, from individual images to orders placed.</p>

        <a href="/get-a-demo" class="demo-cta">
            <strong>See what we can do for you</strong>
            <img src="/media/img/icon-arrow.png" alt="" />
        </a>

        <ul class="product-steps">
            <li class="step-one">
                <a href="#pinscheduler">                        
                    <span>1</span>
                    Pin the right content at the right time.
                </a>
            </li>
            <li class="step-two">                        
                <a href="#topimages">
                    <span>2</span>
                    Know what images resonate with 50+ visual dashboards.
                </a>
            </li>
            <li class="step-three">                        
                <a href="#promotions">
                    <span>3</span>
                    Launch a contest or sweepstakes on Pinterest.
                </a>
            </li>
            <li class="step-four">                        
                <a href="#roi">
                    <span>4</span>
                    See revenue from Pinterest and your competitor’s strategy.
                    <span class="restart">
                        <img src="/media/img/icon-restart.png" alt="" />
                    </span>
                </a>
            </li>
        </ul>
        <div class="content-frame">
            <img src="/media/img/bg-frame-left.png" />
            <img src="/media/img/bg-frame-right.png" />
        </div>
    </div>
</div>

<div id="pinscheduler" class="features-highlight no-border pinterest-features">
    <div class="container">    
        <h2 class="subheadline centered headline-alt">Pin the right content at the right time.</h2>
        <div class="feature no-border">
            <img src="/media/img/feature-pinterest-step-one.jpg" class="feature-image" alt="" />
            <div class="feature-content">
                <div class="feature-description">    
                    <h5>Grow Your Community up to 36% Faster</h5>
                    <p>
                        Since Pinterest is a time-based feed, when you post matters as much as what you post. Piqora’s unique Smart Scheduler enables you to publish pins precisely when your community is the most active, so you get up to 36% higher repins compared to manual posting. Our customers tell us that more repins and significantly less time spent pinning is a huge win for them.
                    </p>
                </div>
                <a href="http://go.piqora.com/Q4-2013-Pinterest-Study.html" class="main-cta">
                    <img src="/media/img/icon-arrow-down.png" />
                    <strong>Download Study: </strong>
                    <em>Research on Pinterest Brand Referral Traffic</em>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="topimages" class="features-highlight alternate-color">
    <div class="features-center">
        <div class="container">    
            <h3>Know what boards and images resonate with your audience.</h3>
            <h4>Piqora’s audience dashboard enables you to get deep insights into your audience.</h4>
            <img src="/media/img/feature-pinterest-step-two.jpg" class="wide-image" alt="" />
            <div class="clear">
                <div class="feature-description">    
                    <h5>Revenue-based reports and metrics through easy-to-master dashboards</h5>
                    <p>Built using the most advanced image recognition technology available, Piqora enables brands to easily measure revenue generating pins and pinners.</p>
                </div>
                <a href="http://go.piqora.com/Q4-2013-Pinterest-Study.html" class="main-cta">
                    <img src="/media/img/icon-arrow-down.png" />
                    <strong>Download Study: </strong>
                    <em>Research on Pinterest Brand Referral Traffic</em>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="feature-overview product-feature">
    <div class="container">    
        <div class="feature-headline">
            <h3>What can you learn about your audience on Pinterest?</h3>
            <h4>Piqora’s audience dashboard enables you to get deep insights into your audience.</h4>
        </div>
        <ul>
            <li>
                <p>See if followers on Pinterest are more influential than the folks that pin from your website.</p>
            </li>
            <li>
                <p>Get a complete list of influential pinners for any category, then reach out directly to their social profiles.</p>
            </li>
            <li>
                <p>Know whether relevant influencers are pinning from your website or following your boards.</p>
            </li>
        </ul>
        <img src="/media/img/feature-overview-pinterest-audience.jpg" class="overview-image" alt="" />
    </div>
</div>

<div class="feature-wide">
    <div class="container">
        <div class="feature-headline">
            <h3>How to get help from influencers and brand advocates on Pinterest</h3>
            <h4>Piqora enables you to build an influencer program with your most enthusiastic fans or popular users from any category on Pinterest.</h4>
        </div>
        <div class="clear">
            <img src="/media/img/feature-image-influencers.jpg" class="feature-image" alt="" />
            <div class="feature-content">
                <div class="feature-description">    
                    <p>In addition to popular users, Piqora shows who has pinned the most from your brand’s website. These are your brand advocates, and they can be a very powerful resource for your brand. Reach out to them with an exclusive item or promotion. They’ll love you (even more) for it. <a href="blog.piqora.com" target="_blank">Read more on our blog.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="promotions" class="feature-overview product-feature highlighted">
    <div class="container">    
        <div class="cta-headline">
            <div class="clear">                       
                <h3>Pinterest Promotions, Contests and Sweepstakes</h3>
                <a href="" class="main-cta">
                    <img src="/media/img/icon-arrow-down.png" />
                    <strong>Download Study: </strong>
                    <em>Research on Pinterest Brand Referral Traffic</em>
                </a>
            </div>
            <h4>The fastest way to grow your community on Pinterest is with a promotion, fully-supported by the Piqora Customer Success team. We've powered over 700 Pinterest promotions.</h4>
        </div>
        <ul>
            <li>
                <p>Grow your brand’s Pinterest community by up to 100% with a contest or sweepstakes.</p>
            </li>
            <li>
                <p>Launch your promotion with the full support of Piqora’s Customer Success team.</p>
            </li>
            <li>
                <p>Track results, identify eligible participants, and ensure compliance with regulations.</p>
            </li>
        </ul>
        <img src="/media/img/feature-overview-pinterest-promotions-detail.png" class="overview-image" alt="" />
    </div>
</div>

<div id="roi" class="features-highlight simple-content">
    <div class="container">
        <div class="feature left-content no-border">
            <img src="/media/img/feature-image-revenue.jpg" class="feature-image" alt="">
            <div class="feature-content">
                <h3 class="headline-alt">Retailers: Show Revenue and ROI From Pinterest</h3>
                <div class="feature-description">    
                    <p>The ROI of social for retailers and e-commerce brands is clearer than ever. Connect Piqora to your Google Analytics, IBM Digital Analytics, or Adobe Analytics (Omniture) to see total revenue from Pinterest for any time period. Go deeper to see revenue per pinned image, revenue per purchase, visits, and pageviews per pin.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="feature-wide widest alternate-color">
    <div class="container">
        <div class="feature-headline">
            <h3>See your competitor’s content strategy.</h3>
            <h4>Use Piqora’s Pinterest Trends to see how your performance compares to competitors.</h4>
        </div>
        <div class="clear">
            <img src="/media/img/feature-image-influencers.png" class="feature-image" alt="" />
            <div class="feature-content">
                <div class="feature-description">    
                    <p>Compare your brand's metrics against groups of your competitors in a single dashboard. Easily see if your visual content is generating more pins than any selection of competitors. <a href="blog.piqora.com" target="_blank">Read more on our blog.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-screenshots highlighted">
   <div class="container">
    <h3>Here’s a preview of our product.</h3>
    <ul class="screenshots-icon">
        <li>
            <a href="" class="slideshow-prev">
                <img src="/media/img/slideshow/icon-slideshow-left.png" alt="" />
            </a>
        </li>
        <li>     
            <a href="" class="screenshots-icon slideshow-next">
                <img src="/media/img/slideshow/icon-slideshow-right.png" alt="" />
            </a>
    </li>
    </ul>

    <div class="clear">
        <ul class="screenshots">
            <li><img src="/media/img/slideshow/pinterest1.png" alt="" /></li>
            <li><img src="/media/img/slideshow/pinterest2.png" alt="" /></li>
            <li><img src="/media/img/slideshow/pinterest3.png" alt="" /></li>
            <li><img src="/media/img/slideshow/pinterest4.png" alt="" /></li>
            <li><img src="/media/img/slideshow/pinterest5.png" alt="" /></li>
            <li><img src="/media/img/slideshow/pinterest6.png" alt="" /></li>
            <li><img src="/media/img/slideshow/pinterest7.png" alt="" /></li>
            <li><img src="/media/img/slideshow/pinterest8.png" alt="" /></li>
            <li><img src="/media/img/slideshow/pinterest9.png" alt="" /></li>
        </ul>
    </div>
    </div>
</div>

{% include footer-form.html %}
