---
layout: default
title:  Piqora - Resources
permalink:  /resources/index.html
description:  Description Goes Here
---

<body>
    <div class="simple-banner resources">
        {% include navigation.html %}
        <div class="container">
            <h2>Resources for becoming a visual marketing expert.</h2>
        </div>
    </div>
    <div class="filter-nav">
        <div class="container">
            <div class="network-filter clear">                  
                <h3>Filter by Network</h3>
                <ul>
                    <li>
                        <a href="#" data-filter="instagram">
                            <img src="/media/img/icon-network-instagram.png" alt="" />
                            <em>Instagram</em>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-filter="pinterest">
                            <img src="/media/img/icon-network-pinterest.png" alt="" />
                            <em>Pinterest</em>
                        </a>
                    </li>
                    <!--<li>
                        <a href="#" data-filter="tumblr">
                            <img src="/media/img/icon-network-tumblr.png" alt="" />
                            <em>Tumblr</em>
                        </a>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="resources-list">            
        <div class="container">
            <h3 id="case-studies">Case Studies</h3>
            <ul>
                <li data-networks="pinterest">
                    <h5>CATHAY PACIFIC AIRWAYS</h5>
                    <span class="resource-type">
                        <img src="/media/img/icon-network-pinterest.png" alt="" />
                        Case Study
                    </span>
                    <p>
                        <img src="/media/img/resources/cathay-pacific.jpg" alt="" />
                        How Cathay Pacific Airways built a multichannel integrated marketing campaign around a UGC Pinterest contest.
                    </p>
                    <a href="http://go.piqora.com/rs/pinfluencer/images/Cathay%20Pacific%20Case%20Study%20Piqora.pdf">
                        Download Case Study
                        <img src="/media/img/icon-arrow-down.png" alt="" />
                    </a>
                </li>
                <li data-networks="pinterest">
                    <h5>WAYFAIR HOME DECOR</h5>
                    <span class="resource-type">
                        <img src="/media/img/icon-network-pinterest.png" alt="" />
                        Case Study
                    </span>
                    <p>
                        <img src="/media/img/resources/wayfair.jpg" alt="" />
                        Pinterest sweepstakes drives long-term results for Wayfair, 500% increase in sales.
                    </p>
                    <a href="http://go.piqora.com/rs/pinfluencer/images/WayFair Case Study.pdf">
                        Download Case Study
                        <img src="/media/img/icon-arrow-down.png" alt="" />
                    </a>
                </li>
                <li data-networks="pinterest">
                    <h5>BLUE NILE CASE STUDY</h5>
                    <span class="resource-type">
                        <img src="/media/img/icon-network-pinterest.png" alt="" />
                        Case Study
                    </span>
                    <p>
                        <img src="/media/img/resources/blue-nile.jpg" alt="" />
                        See how Blue Nile's Valentine's Day Pinterest contest got 5,000 new followers and 50K repins.
                    </p>
                    <a href="http://go.piqora.com/rs/pinfluencer/images/Blue Nile Case Study.pdf">
                        Download Case Study
                        <img src="/media/img/icon-arrow-down.png" alt="" />
                    </a>
                </li>
                <li data-networks="pinterest">
                    <h5>SHAPE AND VSX SPORT</h5>
                    <span class="resource-type">
                        <img src="/media/img/icon-network-pinterest.png" alt="" />
                        Case Study
                    </span>
                    <p>
                        <img src="/media/img/resources/shap-vsx.jpg" alt="" />
                        Shape And VSX Sport by Victoria’s Secret Drive 2.9 Million Holiday Impressions on Pinterest.
                    </p>
                    <a href="http://go.piqora.com/rs/pinfluencer/images/Case Study Shape VSX .pdf">
                        Download Case Study
                        <img src="/media/img/icon-arrow-down.png" alt="" />
                    </a>
                </li>
                <li data-networks="pinterest">
                    <h5>WEBER SHANDWICK CASE STUDY</h5>
                    <span class="resource-type">
                        <img src="/media/img/icon-network-pinterest.png" alt="" />
                        Case Study
                    </span>
                    <p>
                        <img src="/media/img/resources/weber-shandwick.jpg" alt="" />
                        How Weber Shandwick Uses Pinterest Analytics &amp; Promotions to Grow a Client's Community by 2,000 Followers a Month.
                    </p>
                    <a href="http://go.piqora.com/rs/pinfluencer/images/Weber-Case-Study.pdf">
                        Download Case Study
                        <img src="/media/img/icon-arrow-down.png" alt="" />
                    </a>
                </li>
            </ul>
            <h3 id="research-reports">Research Reports</h3>
            <ul>
                <li data-networks="pinterest">
                    <h5>THE FIRST QUANTITATIVE STUDY OF BRANDS ON PINTEREST</h5>
                    <span class="resource-type">
                        <img src="/media/img/icon-network-pinterest.png" alt="" />
                        Research Report
                    </span>
                    <p>
                        <img src="/media/img/resources/quantitative-study.jpg" alt="" /> 
                        Research shows strong positive trends in the e-commerce value of Pinterest for brands.
                    </p>
                    <a href="http://go.piqora.com/Q4-2013-Pinterest-Study.html">
                        Download Report
                        <img src="/media/img/icon-arrow-down.png" alt="" />
                    </a>
                </li>
                <li data-networks="pinterest">
                    <h5>SECRETS TO SUCCESSFUL PROMOTIONS</h5>
                    <span class="resource-type">
                        <img src="/media/img/icon-network-pinterest.png" alt="" />
                        Research Report
                    </span>
                    <p>
                        <img src="/media/img/resources/secrets-promotion.jpg" alt="" />
                        Findings based on 200 successful Pinterest promotions can't be wrong.
                    </p>
                    <a href="http://go.piqora.com/SecretstoSuccessfulPromotionsLP.html">
                        Download Report
                        <img src="/media/img/icon-arrow-down.png" alt="" />
                    </a>
                </li>
                <li data-networks="pinterest">
                    <h5>PINTEREST MOBILE ROI STUDY</h5>
                    <span class="resource-type">
                        <img src="/media/img/icon-network-pinterest.png" alt="" />
                        Research Report
                    </span>
                    <p>
                        <img src="/media/img/resources/mobile-roi.jpg" alt="" />
                        Mobile revenue from Pinterest is up 224% YoY. Mobile transactions are up 77% and average order value is up 79%. Download the Pinterest Mobile ROI study to get more exclusive data on Pinterest's growth on tablet devices, and the top recommendations to increase sales for your brand from Pinterest's mobile site.
                    </p>
                    <a href="http://go.piqora.com/Pinterest-Mobile-ROI-Study.html">
                        Download Report
                        <img src="/media/img/icon-arrow-down.png" alt="" />
                    </a>
                </li>
                <li data-networks="instagram">
                    <h5>THE INSTAGRAM HASHTAG STUDY</h5>
                    <span class="resource-type">
                        <img src="/media/img/icon-network-instagram.png" alt="" />
                        Research Report
                    </span>
                    <p>
                        <img src="/media/img/resources/instagram-hashtag.jpg" alt="" /> 
                        A study of 150,000 Instagram posts, from 200 brands, shows that marketers using hashtags correctly are getting more likes.
                    </p>
                    <a href="http://go.piqora.com/Dec2013InstagramStudyLP.html">
                        Download Report
                        <img src="/media/img/icon-arrow-down.png" alt="" />
                    </a>
                </li>
            </ul>
            <h3 id="quick-guides">Quick Guides</h3>
            <ul>
                  <li data-networks="pinterest">
                    <h5>YOUR WEBSITE: A CONVERSION MACHINE</h5>
                    <span class="resource-type">
                        <img src="/media/img/icon-network-pinterest.png" alt="" />
                        Quick Guide
                    </span>
                    <p>
                        <img src="/media/img/resources/conversion-machine.jpg" alt="" />
                        How to increase sales and AOV by optimizing UX and social signals on your website
                    </p>
                    <a href="http://go.piqora.com/WebsiteOptimizationQuickGuideLP.html">
                        Download Quick Guide
                        <img src="/media/img/icon-arrow-down.png" alt="" />
                    </a>
                </li>
                <li data-networks="pinterest">
                    <h5>PIN-OPTIMIZE YOUR WEBSITE TO TURBOCHARGE PINNING</h5>
                    <span class="resource-type">
                        <img src="/media/img/icon-network-pinterest.png" alt="" />
                        Quick Guide
                    </span>
                    <p>
                        <img src="/media/img/resources/optimize-website.jpg" alt="" />
                        How to get more Pinterest referral traffic than you ever thought possible.
                    </p>
                    <a href="http://go.piqora.com/PinUXOptimizationLP.html">
                        Download Quick Guide
                        <img src="/media/img/icon-arrow-down.png" alt="" />
                    </a>
                </li>
            </ul>
            <h3 id="ebooks">Ebooks</h3>
            <ul>
                  <li data-networks="pinterest tumblr">
                    <h5>SOCIAL SYNERGY ON THE VISUAL WEB</h5>
                    <span class="resource-type">
                        <img src="/media/img/icon-network-pinterest.png" alt="" />
                        <img src="/media/img/icon-network-tumblr.png" alt="" />
                        Ebook
                    </span>
                    <p>
                        <img src="/media/img/resources/tumlbr-and-pinterest.jpg" alt="" /> 
                        A study of images on Pinterest and Tumblr shows that the two networks, though distinct, are interconnected and synergistic — with positive feedback loops that can increase your Social ROI.
                    </p>
                    <a href="http://go.piqora.com/pinterest-tumblr-study.html">
                        Download EBook
                        <img src="/media/img/icon-arrow-down.png" alt="" />
                    </a>
                </li>
                <li data-networks="pinterest">
                    <h5>HALLOWEEN PROMOTIONS TOOLKIT</h5>
                    <span class="resource-type">
                        <img src="/media/img/icon-network-pinterest.png" alt="" />
                        Ebook
                    </span>
                    <p>Our best ideas for Halloween promotions, across all top business verticals.</p>
                    <a href="http://go.piqora.com/HalloweenToolkit_LP.html">
                        Download Ebook
                        <img src="/media/img/icon-arrow-down.png" alt="" />
                    </a>
                </li>  
            </ul>
            <h3 id="whitepapers">Whitepapers</h3>
            <ul>
                <li data-networks="pinterest">
                    <h5>PINTEREST: THE SOCIAL ROI HOLY GRAIL</h5>
                    <span class="resource-type">
                        <img src="/media/img/icon-network-pinterest.png" alt="" />
                        Whitepaper
                    </span>
                    <p>
                        <img src="/media/img/resources/social-roi.jpg" alt="" />
                        Strategies for success and ROI metrics that put Facebook marketing to shame.
                    </p>
                    <a href="http://go.piqora.com/SocialROIHolyGrailLP.html">
                        Download Whitepaper
                        <img src="/media/img/icon-arrow-down.png" alt="" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% include footer-form.html %}