<header>
    <h1 class="logo"><a href="/">Piqora</a></h1>
    <ul class="main-navigation">
        <li>
            <a href="">Products</a>
            <ul class="secondary-navigation product-navigatoin">
                <li>
                    <a href="/products/pinterest">
                        <img src="/media/img/icon-network-pinterest.png" />
                        Pinterest Marketing Suite
                        <em>See ROI clearly</em>
                    </a>
                </li>
                <li>
                    <a href="/products/instagram">
                        <img src="/media/img/icon-network-instagram.png" />
                        Instagram Marketing Suite
                        <em>Engage emotionally</em>
                    </a>
                </li>
                <!--<li>
                    <a href="/products/tumblr">
                        <img src="/media/img/icon-network-tumblr.png" />
                        Tumblr Marketing Suite
                        <em>Tell visual stories</em>
                    </a>
                </li>-->
            </ul>
        </li>
        <li>
            <a href="">Customers</a>
            <ul class="secondary-navigation product-navigatoin">
                <li>
                    <a href="/customers">
                        Our Customers
                        <em>Hundreds of leading brands</em>
                    </a>
                </li>
                <li>
                    <a href="/resources#case-studies">
                        Case Studies
                        <em>See Real Results</em>
                    </a>
                </li>
            </ul>
        </li>
        <li class="company">
            <a href="">Company</a>
            <ul class="secondary-navigation">
                <li>
                    <a href="/why-piqora">
                        Why Piqora?
                    </a>
                </li>
                <li>
                    <a href="/about-us/team">
                        Team
                    </a>
                </li>
                <li>
                    <a href="/press">
                        Press
                    </a>
                </li>
                <li>
                    <a href="http://blog.piqora.com" target="_blank">
                        Blog
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="">Resources</a>
            <ul class="secondary-navigation">
                <li>
                    <a href="/resources#whitepapers">
                        Whitepapers
                    </a>
                </li>
                <li>
                    <a href="/resources#quick-guides">
                        Guides
                    </a>
                </li>
                <li>
                    <a href="/resources#case-studies">
                        Case Studies
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="">Contact</a>
            <ul class="secondary-navigation">
                <li>
                    <a href="/get-a-demo">
                        Request a demo
                    </a>
                </li>
                <li>
                    <a id="olark_chat" href="javascript:void(0);" onclick="olark('api.box.expand')">
                        Chat with us
                    </a>
                </li>
                <li>
                    <a href="mailto:hello@piqora.com">
                        Get in touch
                    </a>
                </li>
            </ul>
        </li>
        <li class="jump-navigation">
            <a href="#footer-nav">Jump to navigation</a>
        </li>
    </ul>
    <ul class="featured-navigation">
        <li>
            <a href="/get-a-demo" class="main-cta">Get a demo</a>
        </li>
        <li class="login-navigation">
            <a href="https://app.piqora.com">Login</a>
        </li>
    </ul>
</header>