/* Text colors */
$colorBody: #79898d;
$colorBodyDark: #395258;
$colorBodyAlt: #5d858f;
$colorAccent: #F26961;

/* Border colors */
$colorBorders: rgba(0,0,0,.1);

/* Background colors */
$colorContentHighlight: #e9f0f2;
$colorContentAlternate: #f2f1f0;

/* CTA colors */
$colorCtaHighlight: #cce6f0;

$colorSubnavStepOne: #FFF;
$colorSubnavStepTwo: #f3f2f1;
$colorSubnavStepThree: #c4d2d7;
$colorSubnavStepFour: #95b4ba;

$fontSans: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontSerif: Bitter, Georgia, serif;

$verticalSpacingLarge: 50px;
$verticalSpacingMedium: 30px;